.div-size{
    margin-top: 3%;
    width: 700px;   
}

.field-width{
    width: 100%;
}

.table{
    width: 100%;
}

.div-teste{
   margin: 2%;
   display: auto;
}

.button-to-far-left {
    flex: 1 1 auto;
    justify-content: space-between;
}