.button-size{
    max-width: 300px;
    width: 100%;
}

.mat-raised-button{
    width: 300%;    
}

.padding{
    padding-top: 5%;
}

.button-to-far-left {
    flex: 1 1 auto;
    justify-content: space-between;
}