<div fxLayout = "row" fxLayoutAlign = "center center">
    <p class="title">
        Padrinho Virtual
    </p>
</div>

<div class="div-top-margin">
    <!--Campos-->    
    <div fxLayout = "column" fxLayoutAlign = "center center">
        <form [formGroup]="formLogin" (ngSubmit)="validateLogin()" >
            <!--Campos-->  
            <mat-form-field class="input-field-width" appearance="fill" >
                <mat-label class="label-color">E-mail</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="formLogin.get('email')?.errors" >
                    E-mail obrigatório
                </mat-error>     
            </mat-form-field>
            
        
            <mat-form-field class="input-field-width" appearance="fill" >
                <mat-label class="label-color">Senha</mat-label>
                <input type="password" matInput formControlName="senha">
                <mat-error *ngIf="formLogin.get('senha')?.errors" >
                    Senha obrigatória
                </mat-error> 
            </mat-form-field>

            <!--Botões-->
            <div fxLayout = "row" fxLayoutAlign = "center center" fxLayoutGap = "10px" >                 
                <button type="button" (click)="onClick()" mat-raised-button>Cadastrar</button>                
                <button type="submit" mat-raised-button>Log In</button>
                <!--a mat-raised-button href="/primeiro-cadastro">Cadastrar</a-->
                <!--a mat-raised-button href="/home">Log In</a-->
                
            </div>
        </form>   
    </div>
</div>