.input-field-width {
    width: 100%;    
}

.label-color {
    color: black;
}

.div-top-margin {
    margin-top: 3%;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

.button-to-far-left {
    flex: 1 1 auto;
    justify-content: space-between;
}