<div>
    <mat-toolbar>
        <span>Padrinho Virtual</span>
        <span class="button-to-far-left"></span>              
        <!--button mat-button (click)="onClickHome()">Voltar</button-->
        <a mat-button href=" ">Sair</a>
    </mat-toolbar>
</div>

<div class="div-top-margin">
    <div fxLayout = "column" fxLayoutAlign="center center">
        <p>Para criar sua conta, preencha os campos abaixo</p>
    </div>
</div>

<!--Campos-->
<div fxLayout = "column" fxLayoutAlign = "center center">
    <form [formGroup]="formCadastro" (ngSubmit)="addUser()" >    
        <mat-form-field class="input-field-width" appearance="fill">
            <mat-label class="label-color">E-mail</mat-label>
            <input formControlName="email" matInput placeholder="Insira o endereço de e-mail">
        </mat-form-field>

        <mat-form-field class="input-field-width" appearance="fill">
            <mat-label class="label-color">Nome</mat-label>
            <input formControlName="nome" matInput placeholder="Insira seu primeiro nome">
        </mat-form-field>
    
        <mat-form-field class="input-field-width" appearance="fill">
            <mat-label class="label-color">Senha</mat-label>
            <input formControlName="senha" type="password" matInput placeholder="Defina sua senha">
        </mat-form-field>

        <!--Botões-->
        <div fxLayout = "row" fxLayoutAlign = "center center" fxLayoutGap = "10px" >    
            <button type="submit" mat-raised-button >Criar Conta</button>        
            <a mat-raised-button href="">Cancelar</a>    
        </div>
    </form>   
</div>


